<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>8 - {{a.lastname|capitalize }}, {{a.firstname|capitalize}} Course Attendance Documentation</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>{{a.lastname|capitalize }}, {{a.firstname|capitalize}} Course Attendance Documentation</h1>

{% if a.terms is not empty %}
	{% for term in a.terms %}
		<h2>{{ term.name }}</h2>
		{% if term.courses is not empty %}
			{% for course in term.courses %}
				<h3>{{ course.name }}</h3>
				{% if course.lessons is not empty %}
					{% for lesson in course.lessons %}
						{% if lesson.assignments is not empty %}
							<table class="courses">
							<tr><th class="course-name" colspan="3">{{ lesson.name }}</th></tr>
								{% for assignment in lesson.assignments %}
									<tr>
									<td>{assignment.type_fmt} : {assignment.name}</td>
									<td>Grade: {assignment.grade_letter}</td>
									<td>{assignment.max_submission_date is empty ? "--" assignment.max_submission_date|date('l, F j, h:i A')}</td>
									</tr>
								{% endfor %}
							</table>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if constant('LOG_MODE') is constant('MODE_DEBUG') %}
	<h2>Attendance Array</h2>
	<pre>
	{{ a_pre }}
	</pre>
	<h2>Debugging Vars</h2>
	<pre>
	{{ vars }}
	</pre>
{% endif %}

</body>
</html>
